@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.banner{
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 24px;
}

.banner p{
    width: 166px;
}

.banner i{
    font-size: 60px;
}