@media(max-width:1400px){
    .aside{
       top: 0;
       flex-direction: row;
       width: 100%;
       z-index: 999;
       min-height: 0;
       padding: 30px 15px 0 15px;
       align-items: center;
    }
    .aside li{
        margin-bottom: 0;
    }
    .aside-list{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .right-reviews{
        display: none;
    }
    .left-reviews p{
        width: 100%;
    }
    .reviews-title{
        text-align: center;
    }
    .cards-section{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}
@media (max-width:992px){
    .aside-list{
        display: none;
    }
    .header{
        padding-left: 15px;
    }
    .header p{
        max-width: none;
        padding: 0 15px;
        width: 100%;
    }
    .footer-content{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}